*{
     margin: 0;
     padding: 0;
}
body{
     font-family: Arial, sans-serif;
     background-color: #B892FF ; 
     text-align: center;
}
.container{
     height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;


}
.game{
     height: 60vmin;
     width: 60vmin;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     gap: 1.5vmin;
}
.box{
     height: 18vmin;
     width: 18vmin;
     border-radius: 1rem;
     border: none;
     box-shadow: 0 0 10px rgb(0,0,0,0.5);
     font-size: 8vmin;
     background-color: #6d4390;
     color: #B892FF;
}
#Reset,
#new-gm{
     padding: 1rem;
     margin: 1rem;
     border-radius: 1rem;
     font-size: 1.25 rem;
     border: none;
     background-color: #230c33;
     color: white;
     
}
#Reset:hover,
#new-gm
{
     cursor: pointer;
     box-shadow: 0 0 10px rgb(0,0,0,0.5);
}
#msg{
     font-size: 5vmin;
     color: #230c33;
     margin-top: 2rem;
}
.msg-container{
     height: 100vmin;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 2rem;
}
.hide{
     display: none;
}
